<ion-content>
  <div>
    <ion-card value="connections">
  <ion-card-header>
    <div class="connection-card">
      <div class="first-section">
            <ion-icon name="card-outline"></ion-icon>
      </div>
      <div class="second-section">
        <ion-card-title>eCard</ion-card-title>
      </div>
     </div>
  </ion-card-header>
  </ion-card>
  <ion-card value="connections">
  <ion-card-header>
    <div class="connection-card">
      <div class="first-section">
            <ion-icon name="person-remove-outline"></ion-icon>
      </div>
      <div class="second-section">
        <ion-card-title>Remove Connected Members</ion-card-title>
      </div>
     </div>
  </ion-card-header>
  </ion-card>
  <ion-card value="connections">
  <ion-card-header>
    <div class="connection-card">
      <div class="first-section">
            <ion-icon name="warning-outline"></ion-icon>
      </div>
      <div class="second-section">
        <ion-card-title>Block Connected Members</ion-card-title>
      </div>
     </div>
  </ion-card-header>
  </ion-card>
  </div>

</ion-content>
